CREATE TABLE {{ .TableName }} (
    id SERIAL PRIMARY KEY,
    {{- range $index, $field := .SQLField }}
    {{- if $index }},{{ end }}
    {{ $field.Name }} {{ $field.Type }} {{ $field.Constraints }} {{ $field.ForeignKey }}
    {{- end }},
    created_at INTEGER NOT NULL DEFAULT EXTRACT(EPOCH FROM CURRENT_TIMESTAMP),
    updated_at INTEGER NOT NULL DEFAULT EXTRACT(EPOCH FROM CURRENT_TIMESTAMP),
    deleted_at INTEGER
);
