package models

type UserAdminAuthentication struct {
	Email    string `json:"email" validate:"required"`
	Password string `json:"password" validate:"required"`
}

type UserCredential struct {
	AccessToken  string     `json:"access_token" validate:"required"`
	RefreshToken string     `json:"refresh_token" validate:"required"`
	RoleOption   []RoleView `json:"role_option,omitempty" validate:""`
}

type UserSelectRole struct {
	UserId   int    `json:"user_id" validate:""`
	RoleCode string `json:"role_code" validate:"required"`
}

type MetaDataUser struct {
	ID         uint   `json:"id"`
	RoleID     uint   `json:"role_id"`
	ActiveRole string `json:"active_role,omitempty"`
}
